<% layout('/layouts/boilerplate') %>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const coordinates = <%- JSON.stringify(coordinates) %>
    </script>
    <!--FINALLY!!! NEEDED TO STRINGIFY COORDINATES (FROM ROUTES/NEXT.JS) SO THEY CAN BE SENT FROM THIS PAGE TO NEXTPAGEMAP.JS-->
    <!--ALSO, FORMAT ON SAVE HAS TO BE DISABLED WHEN USING JSON.STRINGIFY-->

    <h1 class="text-center">We're always on the move!</h1>
    <h2 class="text-center">Here's how you can find where we'll wind up next.</h2>
    <div class="row mt-4">
        <div class="col-md-5 offset-1 mb-4">
            <div class="card" style="width: 26rem;">
                <img src="/images/trailer/trailer_front2.jpg" id="nextImage" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <!-- <li class="list-group-item"><span class="fw-bold">Location: </span>NAME OF PLACE...or event?</li> -->
                    <li class="list-group-item"><span class="fw-bold">Street Address: </span>
                        <%= street %>
                    </li>
                    <li class="list-group-item"><span class="fw-bold">City, State: </span>
                        <%= cityState %>
                    </li>
                    <li class="list-group-item"><span class="fw-bold">Date: </span>
                        <%= date %>
                    </li>
                    <li class="list-group-item"><span class="fw-bold">Time: </span>
                        <%= time %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div id='map'></div>
        </div>
    </div>
    <script src="/javascripts/nextPageMap.js"></script>